/*
Orange color: #e99e13
*/


/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom: 1;}
.clearfix:after{
    content: ".";
    display:block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/*------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------*/

.row{
    max-width: 80%;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/*-----ICONS-----*/ 

.icon-big{
    font-size: 300%;
    display: block;
    color: #e99e13;
    margin-bottom: 15px;
}
.icon-small{
    display: inline-block;
    color: #e99e13;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    /* how to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/*-----HEADINGS-----*/
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
    
   
}
h1{
    margin-top: 0;
    color: #ffffff;
    font-size: 240%;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3{
    font-size: 100%;
    margin-bottom: 15px;
    
}
h2:after{
display: block;
height: 2px;
background-color: #e99e13;
content: "";
width: 100px;
margin: 0 auto;
margin-top: 30px;
}
/*-----PARAGRAPHS-----*/

.ft-paragraph{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
/*-----LINKS-----*/
a:link, a:visited{
   color: #e99e13;
   text-decoration: none;
   border-bottom: 1px solid #e99e13;
   padding-bottom: 1px;
}
a:hover,
a:active{
    color: #555555;
    border: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s; 
}

/*-----BUTTONS-----*/
.btn:link, .btn:visited,
input[type=submit]{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link, 
.btn-full:visited,
input[type=submit]{
    background-color: #e99e13;
    border: 1px solid #e99e13;
    color: #ffffff;
    margin-right: 15px;
}
.btn-ghost:link, .btn-ghost:visited{
    border: 1px solid #e99e13;
    color: #e99e13;
}
.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #cf6d17;
    
}
.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #ffffff;
    
}
/*------------------------------*/
/*HEADER*/
/*------------------------------*/
header{
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;

}
.main-nav li{
    display: inline;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e99e13;
}

/*------------------------------*/
/*FEATURES*/
/*------------------------------*/ 
.features .ft-paragraph{
margin-bottom: 30px;
}

/*------------------------------*/
/*MEALS*/
/*------------------------------*/
.fav-meals{
    padding: 0;
}
.meals{
    list-style: none;
    width: 100%;

}
.meals li{
    display: block;
    float: left;
    width: 25%;
}
.photo{ 
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}
.photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    
}
.photo img:hover{
    opacity: 1;
    transform: scale(1.03);

} 

/*------------------------------*/
/*HOW-IT-WORKS*/
/*------------------------------*/
.how-it-works{
    background-color: #f4f4f4;
}

.steps-box:first-child{
text-align: right;
padding: 3%;
margin-top: 30px;
}
.steps-box:last-child{
text-align: left;
margin-top: 70px;

}
.app-screen{
    width: 40%;
}
.steps{
    margin-bottom: 50px;
}
.steps :last-of-type{
margin-bottom: 80px;
}
.steps div{
    float: left;
    color: #e99e13;
    border: 2px solid #e99e13;
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 5px;
    font-size: 120%;
    margin-right: 25px;

}
.btn-app img{
height: 50px;
width: auto;
margin-right: 10px;
}
.btn-app:link{
    border: 0;
}

/*------------------------------*/
/*TOWNS*/
/*------------------------------*/
.box img{
    width: 100%;
    margin-bottom: 15px;
}
.town-stats{
    margin-bottom: 5px;
}

/*------------------------------*/
/*TESTIMONIALS*/
/*------------------------------*/

.testimonials{
    background-image:linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url(images/back-customers.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    background-attachment: fixed;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px
}
blockquote:before{
    content: "\201C";
    font-size: 400%;
    display:block;
    position: absolute;
    top:0;
    left:-5px;
}
cite{
font-size: 90%;
margin-top: 25px;
display: block;

}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*------------------------------*/
/*SIGNUP*/
/*------------------------------*/

.signup-plans{
background-color: #f4f4f4;
}
.plan-box{
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}
.plan-box div{
    padding: 15px;
    border: 1px solid #e8e8e8;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.plan-box div:last-child{
    text-align: center;
    border: none; 
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
    font-size: 90%;
}
.plan-price{
font-size: 300%;
margin-bottom: 10px;
font-weight: 100;
color: #e99e13;
}
.plan-price span{
    font-size: 30%;
    font-weight: 100;
    
}
.plan-price-meal{
    font-size: 80%;

}

/*------------------------------*/
/*FORM*/
/*------------------------------*/

.contact-form{
    width: 85%;
    margin: 0 auto;

}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}

/*------------------------------*/
/*FOOTER*/
/*------------------------------*/

footer{
    background-color: #333333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
   list-style: none;
   float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;

}
.footer-nav li:last-child,
.social-links li:last-child{
margin: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.2s;

}
.footer-nav li a:hover,
.footer-nav li a:active{
color: #dddddd;
}

.social-links li a:link,
.social-links li a:visited{
   font-size: 160%;

}
.facebook,
.twitter,
.googleplus,
.instagram{
    transition: color 0.2s;
}
.facebook:hover{
color: #3b5998;
}
.twitter:hover{
color: #00aced;
}
.googleplus:hover{
color: #dd4b39;
}
.instagram:hover{
color: #517fa4;
}
footer p{
    color: #888888;
    text-align: center;
    margin-top: 20px;
}