/*
Orange color: #e99e13
*/


/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------*/

.row{
    max-width: 80%;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}
/*-----HEADINGS-----*/
h1,h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
   
}
h1{
    margin-top: 0;
    color: #ffffff;
    font-size: 240%;
    margin-bottom: 20px;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after{
display: block;
height: 2px;
background-color: #e99e13;
content: "";
width: 100px;
margin: 0 auto;
margin-top: 30px;
}
/*-----PARAGRAPHS-----*/

.ft-paragraph{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
/*-----BUTTONS-----*/
.btn:link, .btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link, .btn-full:visited{
    background-color: #e99e13;
    border: 1px solid #e99e13;
    color: #ffffff;
    margin-right: 15px;
}
.btn-ghost:link, .btn-ghost:visited{
    border: 1px solid #e99e13;
    color: #e99e13;
}
.btn:hover, 
.btn:active{
    background-color: #f8a408;
}
.btn-full:hover, .btn-full:active{
    border: 1px solid #f8a408;
    
}
.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #f8a408;
    color: #ffffff;
    
}
/*------------------------------*/
/*HEADER*/
/*------------------------------*/
header{
    background-color:#475161 /*linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)) url(/resources/images/hero.jpg)*/;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;

}
.main-nav li{
    display: inline;
    margin-left: 40px;

}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e99e13;
}